<!DOCTYPE html>
<html>

<head>
    <title>Groceries</title>
    <link rel="stylesheet" href="/static/dist/css/style.css">
</head>

<body>

    <div class="center-container">
        <div class="top-label">
            <a href="/">home</a>
        </div>

        <h1 class="title">{{ .title }}</h1>

        <div class="d-flex justify-content-center remove-buttons">

            <form method="post" action="/removeItem">
                <input class="d-none" name="item-id" value="{{ .id }}" />
                <input class="d-none" name="list-identifier" value="{{ .listID }}" />
                <button type="submit">Really remove?</button>
            </form>
            <a href="/list/{{ .listID }}">
                <button>Cancel</button>
            </a>

        </div>
    </div>

</body>

</html>