h1.title {
    text-align: center;
    margin-top: 100px;
}

.box {
    background: $box-colour-default;
    padding: 27px 10px;
}

.form-input {
    outline: 0;
    border: 4px solid $box-colour-default;
    width: 100%;
    padding: 0 10px;
}

textarea.form-input {
    min-height: 120px;
}

.submit-button {
    background: $box-colour-default;
    border: 0;
    color: white;
    font-weight: bold;
    &:focus {
        outline: 0;
    }
}

.submit-image {
    width: 65px;
    padding: 10px 20px;
    min-width: 90px;
    max-height: 45px;
}

ul.list {
    list-style-type: none;
    padding: 30px 40px;
    margin-bottom: 0;
    li {
        border-bottom: 2px solid white;
        margin-bottom: 10px;
        p {
            margin-bottom: 5px;
        }
    }
}

.max-40 {
    max-width: 40%;
}

.mb-1 {
    margin-bottom: 10px !important;
}

.top-label {
    text-align: center;
    margin-top: 10px;
    // margin-bottom: -20px;
    a {
        color: black;
        &:hover {
            text-decoration: none;
            // padding-bottom: 1px;
            border-bottom: 1px solid black;
        }
    }
}

.action-item-image {
    width: 15px;
    height: 16px;
    margin: 5px;
}

.remove-buttons button {
    border: 0;
    padding: 20px 25px;
    margin: 0 15px 0 16px;
    background: $box-colour-default;
    border: 2px solid white;
    &:hover {
        border: 2px solid lightseagreen;
        cursor: pointer;
    }
    &:focus {
        outline: 0;
    }
}

a.cancel-editing {
    width: 100%;
    button {
        width: 100%;
        border: 0;
        background: $box-colour-default;
        padding: 10px 0;
        margin: 12px 0;
    }
}

.edit-item-container {
    min-width: 30%;
}